.loader-logo-sec {
  height: 25vmin;
  pointer-events: none;
  z-index: 999;
  margin-top: -50px;
}

@media (prefers-reduced-motion: no-preference) {
  .loader-logo-sec {
    animation: App-logo-spin infinite 0.5s linear;
  }
}
