.input {
  width: 90%;
  padding: 10px;
  border-radius: 20px;
  background-color: black;
  color: #179fa6;
  margin: 10px;
  border: 1px solid white;
}
.input:focus {
  outline: none;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.246);
}
::placeholder {
  color: white;
}
h1 {
  font-size: 50px;
  background: -webkit-linear-gradient(#179fa6, #f46c96);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: flex;
  flex-wrap: nowrap;
}

.button_signin {
  font-size: large;
  padding: 10px;
  margin: 20px;
  border-radius: 20px;
  background-image: linear-gradient(#179fa6, #f46c96);

  border: none;
}
.button_signin:hover {
  background-image: linear-gradient(#116e72, #79334e);
  cursor: pointer;
}

.form {
  width: 30%;
}

.grid {
  display: inline-grid;
  grid-template-columns: 60% 40%;
}
.Blind_chat_image {
  width: 20%;
}
