.Navbar_sticky {
  height: 70px;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  background-image: linear-gradient(#116f7270, #121212);
}

.li {
  align-items: center;
}

.Link {
  display: inline;
  margin-right: 50px;
  font-size: 25px;
  color: white;
  text-decoration: none;
}

.logo {
  height: 15vmin;
  overflow: hidden;
  position: absolute;
  display: none;
}
